<%= stylesheet_link_tag("theme.css", :plugin => "modifications") %>
<%= stylesheet_link_tag("responsive.css", :plugin => "modifications") %>
<%= stylesheet_link_tag("computed_custom_field", :plugin => "computed_custom_field") %>