<h2><%= l(:label_import_positions)%></h2>

<p><%= l(:label_import_description).html_safe %></p>
<p><%= l(:label_import_description2).html_safe %></p>
<p><%= l(:label_import_description3).html_safe %></p>
<p><%= l(:label_import_description4).html_safe %></p>

<%= form_tag users_import_positions_path, :multipart => true do %>
    <div>
      <%= file_field_tag  :attachment %>
    </div>
    <br>
    <div>
      <%= submit_tag l(:label_import) %>
    </div>
<% end %>